-- MariaDB dump 10.19  Distrib 10.4.27-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: nutritional_llm
-- ------------------------------------------------------
-- Server version	10.4.27-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audio_file`
--

DROP TABLE IF EXISTS `audio_file`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audio_file` (
  `audio_id` int(11) NOT NULL AUTO_INCREMENT,
  `reel_id` int(11) NOT NULL COMMENT 'References reel.reel_id',
  `file_name` varchar(200) NOT NULL COMMENT 'Audio file name e.g. DV7uZzBE47j.mp3',
  `file_path` varchar(500) NOT NULL COMMENT 'Full path to the audio file on disk',
  `file_created_at` timestamp NULL DEFAULT NULL COMMENT 'File creation timestamp from filesystem metadata',
  `file_size_bytes` bigint(20) DEFAULT NULL COMMENT 'Audio file size in bytes',
  `file_format` varchar(10) NOT NULL DEFAULT 'mp3' COMMENT 'Audio format e.g. mp3',
  `reel_audio_consistent` tinyint(1) DEFAULT NULL COMMENT 'True if audio matches the Instagram Reel content',
  `verified_by_matric` varchar(20) DEFAULT NULL COMMENT 'Matric number of the audio verifier',
  `verified_by_name` varchar(100) DEFAULT NULL COMMENT 'Name of the audio verifier',
  `verified_at` timestamp NULL DEFAULT NULL COMMENT 'Timestamp when audio verification was completed',
  PRIMARY KEY (`audio_id`),
  CONSTRAINT `fk_audio_file_reel` FOREIGN KEY (`reel_id`) REFERENCES `reel` (`reel_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Audio file metadata and verification results (Phase 5 Task 5.1)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audio_file`
--

LOCK TABLES `audio_file` WRITE;
/*!40000 ALTER TABLE `audio_file` DISABLE KEYS */;
/*!40000 ALTER TABLE `audio_file` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `experiment`
--

DROP TABLE IF EXISTS `experiment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `experiment` (
  `experiment_id` int(11) NOT NULL AUTO_INCREMENT,
  `transcript_id` int(11) NOT NULL COMMENT 'References transcript.transcript_id',
  `model_id` int(11) NOT NULL COMMENT 'References llm_model.model_id',
  `technique_id` int(11) NOT NULL COMMENT 'References prompt_technique.technique_id',
  `rag_enabled` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'False = Phase 1 (prompt engineering), True = Phase 2 (RAG)',
  `status` varchar(20) NOT NULL DEFAULT 'pending' COMMENT 'pending, running, completed, failed',
  `executed_at` timestamp NULL DEFAULT NULL COMMENT 'Timestamp when the experiment was executed',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `duration_ms` int(11) DEFAULT NULL,
  PRIMARY KEY (`experiment_id`),
  UNIQUE KEY `uq_experiment_condition` (`transcript_id`,`model_id`,`technique_id`,`rag_enabled`),
  KEY `idx_experiment_transcript` (`transcript_id`),
  KEY `idx_experiment_model` (`model_id`),
  KEY `idx_experiment_technique` (`technique_id`),
  KEY `idx_experiment_status` (`status`),
  CONSTRAINT `fk_experiment_model` FOREIGN KEY (`model_id`) REFERENCES `llm_model` (`model_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_experiment_technique` FOREIGN KEY (`technique_id`) REFERENCES `prompt_technique` (`technique_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_experiment_transcript` FOREIGN KEY (`transcript_id`) REFERENCES `transcript` (`transcript_id`) ON UPDATE CASCADE,
  CONSTRAINT `chk_experiment_status` CHECK (`status` in ('pending','running','completed','failed','cancelled'))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Central linking table. One row per experimental run (transcript x model x technique).';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `experiment`
--

LOCK TABLES `experiment` WRITE;
/*!40000 ALTER TABLE `experiment` DISABLE KEYS */;
/*!40000 ALTER TABLE `experiment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ground_truth_ingredient`
--

DROP TABLE IF EXISTS `ground_truth_ingredient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ground_truth_ingredient` (
  `gt_ingredient_id` int(11) NOT NULL AUTO_INCREMENT,
  `gt_reel_id` int(11) NOT NULL COMMENT 'References ground_truth_reel.gt_reel_id',
  `name_original` varchar(200) NOT NULL COMMENT 'Ingredient name exactly as spoken in transcript',
  `name_en` varchar(200) DEFAULT NULL COMMENT 'English translation of the ingredient name',
  `quantity_value` float DEFAULT NULL COMMENT 'Numeric quantity as spoken',
  `unit_original` varchar(100) DEFAULT NULL COMMENT 'Unit as spoken e.g. sudu besar, ulas, biji',
  `unit_en` varchar(100) DEFAULT NULL COMMENT 'English translation of the unit',
  `estimated_weight_g` float DEFAULT NULL COMMENT 'Estimated weight in grams (Layer 2 conversion)',
  `calories` float DEFAULT NULL COMMENT 'Ground truth calories (kcal)',
  `total_fat_g` float DEFAULT NULL COMMENT 'Ground truth total fat in grams',
  `saturated_fat_g` float DEFAULT NULL COMMENT 'Ground truth saturated fat in grams',
  `cholesterol_mg` float DEFAULT NULL COMMENT 'Ground truth cholesterol in milligrams',
  `sodium_mg` float DEFAULT NULL COMMENT 'Ground truth sodium in milligrams',
  `total_carbohydrate_g` float DEFAULT NULL COMMENT 'Ground truth total carbohydrate in grams',
  `dietary_fiber_g` float DEFAULT NULL COMMENT 'Ground truth dietary fiber in grams',
  `total_sugars_g` float DEFAULT NULL COMMENT 'Ground truth total sugars in grams',
  `protein_g` float DEFAULT NULL COMMENT 'Ground truth protein in grams',
  `vitamin_d_mcg` float DEFAULT NULL COMMENT 'Ground truth vitamin D in micrograms',
  `calcium_mg` float DEFAULT NULL COMMENT 'Ground truth calcium in milligrams',
  `iron_mg` float DEFAULT NULL COMMENT 'Ground truth iron in milligrams',
  `potassium_mg` float DEFAULT NULL COMMENT 'Ground truth potassium in milligrams',
  `annotation_layer` varchar(10) NOT NULL DEFAULT 'layer1' COMMENT 'layer1 = faithful transcription, layer2 = standardised conversion',
  PRIMARY KEY (`gt_ingredient_id`),
  KEY `idx_gt_ingredient_reel` (`gt_reel_id`),
  KEY `idx_gt_ingredient_layer` (`annotation_layer`),
  CONSTRAINT `fk_ground_truth_ingredient_reel` FOREIGN KEY (`gt_reel_id`) REFERENCES `ground_truth_reel` (`gt_reel_id`) ON UPDATE CASCADE,
  CONSTRAINT `chk_annotation_layer` CHECK (`annotation_layer` in ('layer1','layer2'))
) ENGINE=InnoDB AUTO_INCREMENT=723 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Ingredient-level ground truth annotation (Ingredients tab in annotation Excel sheet)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ground_truth_ingredient`
--

LOCK TABLES `ground_truth_ingredient` WRITE;
/*!40000 ALTER TABLE `ground_truth_ingredient` DISABLE KEYS */;
/*!40000 ALTER TABLE `ground_truth_ingredient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ground_truth_reel`
--

DROP TABLE IF EXISTS `ground_truth_reel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ground_truth_reel` (
  `gt_reel_id` int(11) NOT NULL AUTO_INCREMENT,
  `transcript_id` int(11) NOT NULL COMMENT 'References transcript.transcript_id',
  `recipe_name` varchar(200) DEFAULT NULL COMMENT 'Ground truth recipe name as annotated',
  `servings` int(11) DEFAULT NULL COMMENT 'Ground truth estimated number of servings',
  `annotator_matric` varchar(20) NOT NULL COMMENT 'Matric number of the annotator',
  `annotator_name` varchar(100) NOT NULL COMMENT 'Name of the annotator',
  `annotated_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`gt_reel_id`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Reel-level ground truth annotation (Reels tab in annotation Excel sheet)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ground_truth_reel`
--

LOCK TABLES `ground_truth_reel` WRITE;
/*!40000 ALTER TABLE `ground_truth_reel` DISABLE KEYS */;
/*!40000 ALTER TABLE `ground_truth_reel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `influencer`
--

DROP TABLE IF EXISTS `influencer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `influencer` (
  `influencer_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL COMMENT 'Full name of the influencer',
  `instagram_account` varchar(100) NOT NULL COMMENT 'Instagram handle e.g. khairulaming',
  `instagram_url` varchar(500) NOT NULL COMMENT 'Full URL to the Instagram profile',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`influencer_id`),
  UNIQUE KEY `uq_influencer_account` (`instagram_account`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Malaysian gastronomy influencers used as data sources';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `influencer`
--

LOCK TABLES `influencer` WRITE;
/*!40000 ALTER TABLE `influencer` DISABLE KEYS */;
INSERT INTO `influencer` VALUES (1,'Khairul Aming','khairulaming','https://www.instagram.com/khairulaming','2026-06-22 16:37:25');
/*!40000 ALTER TABLE `influencer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingredient_result`
--

DROP TABLE IF EXISTS `ingredient_result`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ingredient_result` (
  `ingredient_id` int(11) NOT NULL AUTO_INCREMENT,
  `result_id` int(11) NOT NULL COMMENT 'References nutrition_result.result_id',
  `name_original` varchar(200) NOT NULL COMMENT 'Ingredient name as spoken in transcript',
  `name_en` varchar(200) DEFAULT NULL COMMENT 'English translation of the ingredient name',
  `quantity_value` float DEFAULT NULL COMMENT 'Numeric quantity as extracted by LLM',
  `unit_original` varchar(100) DEFAULT NULL COMMENT 'Unit as extracted by LLM e.g. sudu besar',
  `unit_en` varchar(100) DEFAULT NULL COMMENT 'English translation of the unit',
  `estimated_weight_g` float DEFAULT NULL COMMENT 'Estimated weight in grams as computed by LLM',
  `calories` float DEFAULT NULL COMMENT 'Estimated calories (kcal)',
  `total_fat_g` float DEFAULT NULL COMMENT 'Estimated total fat in grams',
  `saturated_fat_g` float DEFAULT NULL COMMENT 'Estimated saturated fat in grams',
  `cholesterol_mg` float DEFAULT NULL COMMENT 'Estimated cholesterol in milligrams',
  `sodium_mg` float DEFAULT NULL COMMENT 'Estimated sodium in milligrams',
  `total_carbohydrate_g` float DEFAULT NULL COMMENT 'Estimated total carbohydrate in grams',
  `dietary_fiber_g` float DEFAULT NULL COMMENT 'Estimated dietary fiber in grams',
  `total_sugars_g` float DEFAULT NULL COMMENT 'Estimated total sugars in grams',
  `protein_g` float DEFAULT NULL COMMENT 'Estimated protein in grams',
  `vitamin_d_mcg` float DEFAULT NULL COMMENT 'Estimated vitamin D in micrograms',
  `calcium_mg` float DEFAULT NULL COMMENT 'Estimated calcium in milligrams',
  `iron_mg` float DEFAULT NULL COMMENT 'Estimated iron in milligrams',
  `potassium_mg` float DEFAULT NULL COMMENT 'Estimated potassium in milligrams',
  `is_hallucinated` tinyint(1) DEFAULT NULL COMMENT 'True if ingredient absent from ground truth. Auto-computed by evaluate.py.',
  PRIMARY KEY (`ingredient_id`),
  KEY `idx_ingredient_result` (`result_id`),
  KEY `idx_ingredient_hallucinated` (`is_hallucinated`),
  CONSTRAINT `fk_ingredient_result_result` FOREIGN KEY (`result_id`) REFERENCES `nutrition_result` (`result_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Individual ingredient rows extracted by the LLM per experiment run.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingredient_result`
--

LOCK TABLES `ingredient_result` WRITE;
/*!40000 ALTER TABLE `ingredient_result` DISABLE KEYS */;
/*!40000 ALTER TABLE `ingredient_result` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `llm_model`
--

DROP TABLE IF EXISTS `llm_model`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `llm_model` (
  `model_id` int(11) NOT NULL AUTO_INCREMENT,
  `model_name` varchar(100) NOT NULL COMMENT 'Display name e.g. Llama 3.1 8B Instruct',
  `model_tag` varchar(100) NOT NULL COMMENT 'Ollama model tag e.g. llama3.1:8b',
  `provider` varchar(100) NOT NULL COMMENT 'Model provider e.g. Meta, Mistral AI, Alibaba, Saama AI',
  `description` text DEFAULT NULL COMMENT 'Brief description of the model and its relevance',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`model_id`),
  UNIQUE KEY `uq_llm_model_tag` (`model_tag`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Reference table for the four LLMs used in the experiment';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `llm_model`
--

LOCK TABLES `llm_model` WRITE;
/*!40000 ALTER TABLE `llm_model` DISABLE KEYS */;
/*!40000 ALTER TABLE `llm_model` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nutrition_result`
--

DROP TABLE IF EXISTS `nutrition_result`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nutrition_result` (
  `result_id` int(11) NOT NULL AUTO_INCREMENT,
  `experiment_id` int(11) NOT NULL COMMENT 'References experiment.experiment_id',
  `recipe_name` varchar(200) DEFAULT NULL COMMENT 'Recipe name extracted by the LLM',
  `servings_estimated` int(11) DEFAULT NULL COMMENT 'Number of servings estimated by the LLM',
  `serving_calories` float DEFAULT NULL COMMENT 'Calories per serving (kcal)',
  `serving_total_fat_g` float DEFAULT NULL COMMENT 'Total fat per serving in grams',
  `serving_saturated_fat_g` float DEFAULT NULL COMMENT 'Saturated fat per serving in grams',
  `serving_cholesterol_mg` float DEFAULT NULL COMMENT 'Cholesterol per serving in milligrams',
  `serving_sodium_mg` float DEFAULT NULL COMMENT 'Sodium per serving in milligrams',
  `serving_carbohydrate_g` float DEFAULT NULL COMMENT 'Total carbohydrate per serving in grams',
  `serving_fiber_g` float DEFAULT NULL COMMENT 'Dietary fiber per serving in grams',
  `serving_sugars_g` float DEFAULT NULL COMMENT 'Total sugars per serving in grams',
  `serving_protein_g` float DEFAULT NULL COMMENT 'Protein per serving in grams',
  `serving_vitamin_d_mcg` float DEFAULT NULL COMMENT 'Vitamin D per serving in micrograms',
  `serving_calcium_mg` float DEFAULT NULL COMMENT 'Calcium per serving in milligrams',
  `serving_iron_mg` float DEFAULT NULL COMMENT 'Iron per serving in milligrams',
  `serving_potassium_mg` float DEFAULT NULL COMMENT 'Potassium per serving in milligrams',
  `total_calories` float DEFAULT NULL COMMENT 'Total calories for the full recipe (kcal)',
  `total_fat_g` float DEFAULT NULL COMMENT 'Total fat for the full recipe in grams',
  `total_saturated_fat_g` float DEFAULT NULL COMMENT 'Total saturated fat for the full recipe in grams',
  `total_cholesterol_mg` float DEFAULT NULL COMMENT 'Total cholesterol for the full recipe in milligrams',
  `total_sodium_mg` float DEFAULT NULL COMMENT 'Total sodium for the full recipe in milligrams',
  `total_carbohydrate_g` float DEFAULT NULL COMMENT 'Total carbohydrate for the full recipe in grams',
  `total_fiber_g` float DEFAULT NULL COMMENT 'Total dietary fiber for the full recipe in grams',
  `total_sugars_g` float DEFAULT NULL COMMENT 'Total sugars for the full recipe in grams',
  `total_protein_g` float DEFAULT NULL COMMENT 'Total protein for the full recipe in grams',
  `total_vitamin_d_mcg` float DEFAULT NULL COMMENT 'Total vitamin D for the full recipe in micrograms',
  `total_calcium_mg` float DEFAULT NULL COMMENT 'Total calcium for the full recipe in milligrams',
  `total_iron_mg` float DEFAULT NULL COMMENT 'Total iron for the full recipe in milligrams',
  `total_potassium_mg` float DEFAULT NULL COMMENT 'Total potassium for the full recipe in milligrams',
  `raw_json_output` text DEFAULT NULL COMMENT 'Original raw JSON response from the LLM for debugging',
  `json_valid` tinyint(1) DEFAULT NULL COMMENT 'True if the LLM output was valid parseable JSON',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`result_id`),
  UNIQUE KEY `uq_nutrition_result_exp` (`experiment_id`),
  CONSTRAINT `fk_nutrition_result_exp` FOREIGN KEY (`experiment_id`) REFERENCES `experiment` (`experiment_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='LLM nutrition facts output per experiment. Full nutrition facts sheet format.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nutrition_result`
--

LOCK TABLES `nutrition_result` WRITE;
/*!40000 ALTER TABLE `nutrition_result` DISABLE KEYS */;
/*!40000 ALTER TABLE `nutrition_result` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prompt_technique`
--

DROP TABLE IF EXISTS `prompt_technique`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prompt_technique` (
  `technique_id` int(11) NOT NULL AUTO_INCREMENT,
  `technique_name` varchar(50) NOT NULL COMMENT 'Technique name e.g. zero-shot, few-shot, chain-of-thought, structured-output',
  `system_prompt_file` varchar(500) NOT NULL COMMENT 'Relative path to system prompt file e.g. prompts/zero_shot_system.txt',
  `user_prompt_file` varchar(500) NOT NULL COMMENT 'Relative path to user prompt template file e.g. prompts/zero_shot_user.txt',
  `prompt_version` varchar(10) NOT NULL DEFAULT '1.0' COMMENT 'Version of the prompt files',
  `description` text DEFAULT NULL COMMENT 'Brief description of the technique and its characteristics',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`technique_id`),
  UNIQUE KEY `uq_prompt_technique_name` (`technique_name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Reference table for the four prompt techniques. Prompt content stored in external files.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prompt_technique`
--

LOCK TABLES `prompt_technique` WRITE;
/*!40000 ALTER TABLE `prompt_technique` DISABLE KEYS */;
/*!40000 ALTER TABLE `prompt_technique` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reel`
--

DROP TABLE IF EXISTS `reel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reel` (
  `reel_id` int(11) NOT NULL AUTO_INCREMENT,
  `influencer_id` int(11) NOT NULL COMMENT 'References influencer.influencer_id',
  `reel_id_instagram` varchar(50) NOT NULL COMMENT 'Instagram reel ID extracted from URL e.g. DV7uZzBE47j',
  `reel_url` varchar(500) NOT NULL COMMENT 'Full Instagram Reel URL',
  `identified_by_matric` varchar(20) NOT NULL COMMENT 'Matric number of team member who identified the reel',
  `identified_by_name` varchar(100) NOT NULL COMMENT 'Name of team member who identified the reel',
  `identified_date` date NOT NULL COMMENT 'Date the reel was identified',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`reel_id`),
  KEY `fk_reel_influencer` (`influencer_id`),
  CONSTRAINT `fk_reel_influencer` FOREIGN KEY (`influencer_id`) REFERENCES `influencer` (`influencer_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Instagram Reels identified by team members (Phase 1)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reel`
--

LOCK TABLES `reel` WRITE;
/*!40000 ALTER TABLE `reel` DISABLE KEYS */;
/*!40000 ALTER TABLE `reel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transcript`
--

DROP TABLE IF EXISTS `transcript`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transcript` (
  `transcript_id` int(11) NOT NULL AUTO_INCREMENT,
  `reel_id` int(11) NOT NULL COMMENT 'References reel.reel_id',
  `audio_id` int(11) NOT NULL COMMENT 'References audio_file.audio_id',
  `file_name` varchar(200) NOT NULL COMMENT 'Transcript file name e.g. transcription_20260406_081309.txt',
  `file_path` varchar(500) NOT NULL COMMENT 'Full path to the transcript file on disk',
  `file_created_at` timestamp NULL DEFAULT NULL COMMENT 'File creation timestamp from filesystem metadata',
  `file_size_bytes` bigint(20) DEFAULT NULL COMMENT 'Transcript file size in bytes',
  `file_format` varchar(10) NOT NULL DEFAULT 'txt' COMMENT 'File format e.g. txt',
  `content` text NOT NULL COMMENT 'Full raw transcript text content',
  `language_mix` varchar(50) DEFAULT NULL COMMENT 'Observed language mix e.g. mostly-malay, mixed',
  `whisper_model` varchar(50) NOT NULL COMMENT 'Faster-Whisper model used e.g. medium',
  `detected_language` varchar(10) DEFAULT NULL COMMENT 'Language detected by Whisper e.g. ms',
  `language_probability` float DEFAULT NULL COMMENT 'Whisper language detection confidence 0.0 to 1.0',
  `transcribed_char_length` int(11) DEFAULT NULL COMMENT 'Character length of the transcribed text',
  `transcription_duration_sec` int(11) DEFAULT NULL COMMENT 'Time taken for transcription in seconds',
  `audio_transcript_consistent` tinyint(1) DEFAULT NULL COMMENT 'True if transcript matches the audio content',
  `verified_by_matric` varchar(20) DEFAULT NULL COMMENT 'Matric number of the transcript verifier',
  `verified_by_name` varchar(100) DEFAULT NULL COMMENT 'Name of the transcript verifier',
  `verified_at` timestamp NULL DEFAULT NULL COMMENT 'Timestamp when transcript verification was completed',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`transcript_id`),
  KEY `fk_transcript_audio` (`audio_id`),
  KEY `idx_transcript_reel` (`reel_id`),
  CONSTRAINT `fk_transcript_audio` FOREIGN KEY (`audio_id`) REFERENCES `audio_file` (`audio_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_transcript_reel` FOREIGN KEY (`reel_id`) REFERENCES `reel` (`reel_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Transcription output and verification results (Phase 4 and Phase 5 Task 5.2)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transcript`
--

LOCK TABLES `transcript` WRITE;
/*!40000 ALTER TABLE `transcript` DISABLE KEYS */;
/*!40000 ALTER TABLE `transcript` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-23  0:37:46
